name: Build mostlyai-docs Docker Image

on:
  workflow_dispatch:
  workflow_call:

env:
  PLATFORMS: linux/amd64

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: {fetch-depth: 1}

      - name: Setup | Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false
          cleanup: false
          platforms: ${{ env.PLATFORMS }}

      - name: Setup | Docker Build Metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v.5.10.0
        id: meta
        with:
          images: ghcr.io/mostly-ai/docs

      - name: Setup | Docker Login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build | Build Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        env:
          DOCKER_BUILD_RECORD_UPLOAD: 'false'
          BUILDX_NO_DEFAULT_ATTESTATIONS: '1'
        with:
          platforms: ${{ env.PLATFORMS }}
          build-args: GIT_COMMIT_SHA=${{ steps.buildconfig.outputs.commitsha }}
          outputs: type=registry,compression=zstd,force-compression=true,oci-mediatypes=true,compression-level=9
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          sbom: true

      - name: Build | Generate SBOM
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10
        with:
          image: ${{ steps.meta.outputs.tags }}
          format: cyclonedx-json
