name: Pre-commit Lint mostlyai-docs

on:
  workflow_dispatch:
  workflow_call:

env:
  PLATFORMS: linux/amd64

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: {fetch-depth: 1}

      - name: Build | Pre-Commit Check
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --all-files
